body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px;
    background-color: black;
    }

/*.bg-img{
  position: fixed;
  width:100%;
  height: 100%;
  left: 0;
  right:0;
  z-index:-1;
  display: block;
  background-image: url('./background.jpg');
  background-size: contain;
  filter: blur(5px);

}*/

form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial; }

a {
    color:#0000FF;
    text-decoration:none; }

    a:hover { text-decoration:underline; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:378px;
    border:1px solid #ACD8F0; }

#loginform { padding-top:18px; }

    #loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:350px;
    border:1px solid #ACD8F0;
    overflow:auto; }

#usermsg {
    width:310px;
    height: 25px;
    border:1px solid #ACD8F0;
    border-radius: 7px;
   }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

#submitmsg{
  border-radius: 7px;
  height: 30px;
  background: white;
  color: black;
}
#submitmsg:hover{
  transition: background-color 0.8s ease;
  background-color: #008CBA;
  color: white;
}

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }
